// Common
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.container {
    width: 70%;
    margin: 0 auto;

    @media (max-width: 900px) {
        width: 80%;
    }
}

.section-title {
    padding-left: 45px;
    position: relative;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media (max-width: 800px) {
        font-size: 16px;
    }

    @media (max-width: 700px) {
        font-size: 14px;
    }

    @media (max-width: 500px) {
        padding-left: 35px;
        font-size: 12px;
    }

    @media (max-width: 400px) {
        font-size: 10px;
    }

    &:before {
        content: '';
        height: 1px;
        width: 30px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #868686;

        @media (max-width: 500px) {
            width: 20px;
        }
    }

    &--black {
        color: #0d0d0d;
    }
}


.banner {
    position: relative;
    background-color: #0d0d0d;
    color: #fff;

    .container {
        padding: 0 0 calc(15vh + 30px);

        @media (max-width: 900px) {
            width: 70%;
        }
    }

    .header {
        margin: 0 auto;
        padding: 35px 0 0;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-logo {

        }

        &-btn {
            padding: 12px 0;
            min-width: 160px;
            background-color: #fff;
            text-align: center;
            color: #0d0d0d;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
        }
    }

    &-middle {
        margin: 10vh auto;

        &__text {
            font-size: 5vw;
            font-weight: bold;
            text-shadow: -1px -1px 1px #fff;
            // text-shadow: -1px 0 #FFF, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
            letter-spacing: -3.85px;
            line-height: normal;
        }
    }

    &-bottom {
        margin: 0 auto;

        &__wrapper {
            display: flex;

            @media (max-width: 700px) {
                flex-direction: column;
            }

            .text {
                font-size: 16px;
                line-height: 1.5;

                @media (max-width: 900px) {
                    font-size: 14px;
                }
            }

            .text + .text {
                margin-left: 10%;

                @media (max-width: 700px) {
                    margin-top: 15px;
                    margin-left: 0;
                }
            }
        }
    }

    &-email {
        width: 150px;
        position: absolute;
        left: 0;
        top: calc(100% - 120px);
        display: inline-block;
        transform: rotate(-90deg);
        // font-size: 2vw;
        font-size: 16px;

        @media (max-width: 500px) {
            width: auto;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);
            // font-size: 3vw;
        }
    }
}



.offer {
    padding: 10vh 0;
    background-color: #fff;

    .section-title {
        margin-bottom: 100px;

        @media (max-width: 900px) {
            margin-bottom: 50px;
        }
    }

    .list {
        display: flex;
        flex-wrap: wrap;

        .item {
            margin-bottom: 70px;
            margin-right: 6%;
            width: 44%;

            @media (max-width: 900px) {
                width: 100%;
            }

            @media (max-width: 700px) {
                margin-bottom: 45px;
            }

            &-title {
                margin-bottom: 15px;
                position: relative;
                color: #0d0d0d;
                font-size: 28px;
                font-weight: bold;

                @media (max-width: 700px) {
                    margin-bottom: 10px;
                    font-size: 22px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: -100%;
                    left: 0;
                    color: #0d0d0d;
                    font-size: 60px;
                    opacity: .2;

                    @media (max-width: 700px) {
                        font-size: 7vw;
                    }
                }
            }

            &-descr {
                color: #000;
                font-size: 16px;
                line-height: 1.5;

                @media (max-width: 700px) {
                    font-size: 14px;
                }
            }

            &:nth-child(1) .item-title:before {
                content: '01';
            }
            &:nth-child(2) .item-title:before {
                content: '02';
            }
            &:nth-child(3) .item-title:before {
                content: '03';
            }
            &:nth-child(4) .item-title:before {
                content: '04';
            }
        }

        
    }
}



.works {
    padding: 10vh 0;
    background-color: #0d0d0d;

    .section-title {
        margin-bottom: 60px;

        @media (max-width: 900px) {
            margin-bottom: 30px;
        }
    }

    .projects {
        display: flex;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        a {

            @media (max-width: 700px) {
                margin-bottom: 10px;
                display: block;
            }
        }

        .left {
            width: calc(50% - 30px);
            margin-right: 30px;

            @media (max-width: 700px) {
                width: 100%;
            }

            img {
                max-width: 100%;
                border-radius: 15px;
            }
        }

        .right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width: 700px) {
                width: 100%;
            }

            img {
                max-width: 90%;
                border-radius: 15px;

                @media (max-width: 700px) {
                    max-width: 100%;
                }
            }
        }
    }
}



.stats {
    padding: 10vh 0;
    background-color: #1a1a1a;

    .section-title {
        margin-bottom: 80px;

        @media (max-width: 900px) {
            margin-bottom: 40px;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: #fff;

        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &-item {
        position: relative;
        text-align: center;

        @media (max-width: 800px) {
            width: 100px;
        }
        
        &:not(:last-child) {

            @media (max-width: 800px) {
                margin-bottom: 25px;
            }
        }

        .number {
            font-size: 5vw;

            @media (max-width: 800px) {
                font-size: 8vw;
            }

            @media (max-width: 500px) {
                font-size: 40px;
            }
        }

        .text {
            font-size: 14px;
            line-height: 1.4;

            @media (max-width: 800px) {
                font-size: 16px;
            }
        }

        .sign {
            position: absolute;
            top: 0;
            left: 100%;
            font-size: 18px;
        }
    }
}



.clients {
    padding: 10vh 0;
    background-color: #fff;

    .section-title {
        margin-bottom: 80px;

        @media (max-width: 900px) {
            margin-bottom: 40px;
        }
    }

    &-list {
        margin-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #979797;
    }

    &-item {
        padding: 35px;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #979797;

        @media (max-width: 700px) {
            padding: 10px;
            min-height: 130px;
            width: 50%;
            border-bottom: 1px solid #979797;
        }

        &:nth-child(5n) {
            border: none;

            @media (max-width: 700px) {
                border-right: 1px solid #979797;
            }
        }

        &:nth-child(-n + 5){
            border-bottom: 1px solid #979797;

            @media (max-width: 700px) {
                border-bottom: 1px solid #979797;
            }
        }

        &:nth-last-child(-n + 2) {

            @media (max-width: 700px) {
                border-bottom: none;
            }
        }

        &:nth-child(even) {

            @media (max-width: 700px) {
                border-right: none;
            }
        }

        &__img {
            max-width: 100%;

            @media (max-width: 700px) {
                max-width: 70%;
            }
        }
    }

    &-reviews {

        .review {

            &-text {
                margin-bottom: 40px;
                padding-right: 20%;
                color: #0d0d0d;
                font-size: 30px;
                line-height: 1.5;

                @media (max-width: 700px) {
                    margin-bottom: 20px;
                    padding-right: 0;
                    font-size: 3vw;
                }
            }

            &-author {
                margin-bottom: 50px;
                font-size: 16px;
                color: #0d0d0d;

                @media (max-width: 700px) {
                    margin-bottom: 30px;
                    font-size: 14px;
                }

                .name {
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                .position {
                    font-weight: normal;
                }
            }

            &-nav {
                color: #0d0d0d;
                font-size: 18px;

                @media (max-width: 700px) {
                    font-size: 16px;
                }

                .prev-slide,
                .next-slide {
                    background-color: transparent;
                    cursor: pointer;
                }

                .prev-slide {
                    transform: rotate(180deg);
                }

                .slide-number {
                    margin-left: 60px;
                    margin-right: 60px;
                    display: inline-block;

                    @media (max-width: 700px) {
                        margin-left: 40px;
                        margin-right: 40px;
                    }
                }
            }
        }
    }
}



.contact {
    // padding: 15vh 0 10vh;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #0d0d0d;
    color: #fff;

    .section-title {
        margin-bottom: 60px;

        @media (max-width: 900px) {
            margin-bottom: 30px;
        }
    }

    &-title {
        margin-bottom: 120px;
        font-size: 40px;
        font-weight: bold;

        @media (max-width: 800px) {
            margin-bottom: 60px;
            font-size: 28px;    
        }

        @media (max-width: 600px) {
            font-size: 20px;
        }

        @media (max-width: 18px) {
            font-size: 18px;
        }
    }

    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 800px) {
            flex-direction: column;
        }

        &__data {

            @media (max-width: 800px) {
                margin-bottom: 20px;
                align-self: flex-start;
            }
            
            & > * {
                display: block;
                font-size: 18px;

                @media (max-width: 600px) {
                    font-size: 16px;
                }

                @media (max-width: 400px) {
                    font-size: 14px;
                }

                &:not(:last-child) {
                    margin-bottom: 12px;
                }
            }
        }

        &__actions {
            height: 160px;
            width: 70%;
            display: flex;
            align-items: center;
            border-top: solid 1px #979797;
            border-bottom: solid 1px #979797;

            @media (max-width: 800px) {
                height: 120px;
                width: 100%;
                justify-content: space-between;
            }

            @media (max-width: 600px) {
                height: 80px;
            }
            
            .action {
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                font-size: 24px;
                text-transform: uppercase;

                @media (max-width: 800px) {
                    font-size: 20px;
                }

                @media (max-width: 600px) {
                    font-size: 16px;
                }

                @media (max-width: 400px) {
                    font-size: 12px;
                }

                &:first-child {
                    margin-right: 15%;

                    @media (max-width: 800px) {
                        margin-right: 0;
                    }
                }

                &:after {
                    content: '';
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    background-color: #fff;
                }
            }
        }
    }
}